# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ovid?schema=public"

# Auth
AUTH_SECRET="change-me-to-a-long-random-string-at-least-32-chars"
AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="Ovid PMS"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
